@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
  background-color: #0f2c41;
  background-image: url("https://i.imgur.com/PFnfpkq.png");
  text-align: center;
  font-weight: 700;
}

#hello-wrapper {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.typewriter {
  border-right: solid 5px transparent;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  animation:
  animated-text 1.2s steps(17, end) 1s 1 normal both
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#particles-js {
  height: 100vh;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}